TELEGRAM_BOT_TOKEN=8829967791:AAG6RNN9kSL8IlVUHOAq5JuvxOs9UpIjPTY
TELEGRAM_BOT_USERNAME=algumacoisatestebot
OPS_CHAT_ID=-1001234567890
ADMIN_TELEGRAM_IDS=8501150450

IXC_BASE_URL=https://ixc.se77e.com.br/webservice/v1
IXC_USER_ID=615
IXC_TOKEN=0d1f799f4e9ceb4bff95672379bee2346fd3eb2d726520f1947df06f43e98009


IXC_EMPLOYEE_CONTROLLER=funcionarios
IXC_FIELD_ID=id
IXC_FIELD_NOME=funcionario
IXC_FIELD_TELEFONE=fone_celular
IXC_FIELD_SETOR=id_departamento
IXC_FIELD_ATIVO=ativo

NOC=-4342924157,-4411030159,-3977575064  
ATENDIMENTO=-3895779294,-3977575064



#teste 1 -4342924157  (USEI COMO GRUPO DO NOC) 
#teste 2 -4411030159 (USEI COMO GRUPO DO NOC)

#teste 3 -3895779294 (USEI COMO GRUPO DE ATENDIMENTO)       
#teste 4 -3977575064 (USEI COMO GRUPO GERAL DA SETTE DE TODOS OS FUNCIONARIOS)